# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
.env.local
.dockerignore
.gcloudignore
error.log
.env.example
firebase-debug.log
cloudbuild.yaml
deploy_custom.sh
DEPLOY_INSTRUCTIONS.md
deploy.bat
deploy.sh
DEPLOYMENT.md 
firebase-debug.log 
MANUAL_DEPLOY.md 


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
